@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-VariableFont_slnt,wght.ttf");
}

.error {
    color: red;
}

* {
    font-family: "Inter";
}

body {
    background-color: black;
    color: white;
    text-align: center;
    margin: 0;
}

main {
    margin: auto;
    width: 65%;
}

a {
    color: white;
}

.button {
    color: black;
    background-color: #A128CC;
    border-radius: 3.5vmin;
    border: none;
    font-weight: bold;
    font-size: 1em;
    text-decoration: none;
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% 0;
}

form {
    text-align: start;
    width: 100%;
}

.comment_form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.text-input {
    background-color: #D9D9D9;
    font-size: 1em;
    width: 100%;
    height: 8vh;
    border: none;
    margin: 5% 0;
}

.textarea-input {
    background-color: #D9D9D9;
    font-size: 1em;
    width: 100%;
    border: none;
    margin: 5% 0;
}

.file-input {
    margin-bottom: 10%;
}

.pass-input {
    position: relative;
}

#pass-show {
    position: absolute;
    color: gray;
    left: 85%;
    top: 27.5%;
    font-size: 3.75vmax;
    cursor: pointer;
}

input[type="radio"] {
    accent-color: #A128CC;
}

.feed_header {
    color: black;
    position: sticky;
    top: 0;
    width: 100%;
    height: 25vh;
    background-color: #A128CC;
}

.feed_header a {
    color: black;
    width: 20%;
}

.feed_header img {
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    width: 100%;
}

.feed_header section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.feed_header section form {
    display: flex;
    align-items: center;
    margin: 0 2.5%;
}

.feed_header section form button {
    width: 25%;
    height: 8.5vh;
    background-color: #8F8F8F;
    border: none;
}

.feed_header section a {
    text-decoration: none;
    font-weight: bold;
}

.feed_header h1 {
    margin-top: 2.5%;
    font-size: 7.5vw;
}

.settings-icon {
    font-size: 2.5em;
    margin: 0 1%;
}

.chat_sub_header {
    background-color: black;
    width: 100%;
    height: 7.5vh;
    position: sticky;
    top: 26vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat_sub_header article {
    background-color: #A128CC;
    width: 49%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat_sub_header article a {
    color: black;
    text-decoration: none;
    font-size: 7.5vw;
    font-weight: bold;
}

.chat_sub_header article a.selected {
    color: black;
    background-color: #761D95;
    border-radius: 100vw;
    text-decoration: none;
    font-size: 7.5vw;
    font-weight: bold;
    padding: 1% 2.5%;
}

.header_search_options {
    /* border: #A128CC solid 2px; */
    background-color: #761D95;
    width: 100%;
    height: 0; /*15vh;*/
    position: sticky;
    top: 25vh;
    text-align: left;
    overflow-y: hidden;
    transition: height 0.5s;
}

.header_search_options_chat {
    top: 33.5vh;
    margin-bottom: 4%;
}

.message_header {
    color: black;
    background-color: #A128CC;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10vh;
    position: sticky;
    top: 0;
}

.message_header h1 {
    font-size: 100%;
}

.message_header a {
    color: black;
    text-decoration: none;
    font-size: 15vw;
}

.message_options {
    background-color: white;
    position: fixed;
    right: 0;
    top: 10vh;
    width: 75%;
    margin-left: 25%;
    overflow-y: hidden;
    height: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: height 0.5s;
}

.message_options a {
    color: black;
    text-decoration: none;
    font-size: 5vw;
}

.message_form {
    position: sticky;
    bottom: 13.5vh;
    width: 95%;
    height: 10vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message_bar {
    border-radius: 4.5vw 0 0 4.5vw;
    background-color: #761D95;
    border: none;
    width: 75%;
    height: 100%;
    font-size: 5vw;
    box-sizing: border-box;
    padding: 5% 2.5%;
}

.message_send {
    background-color: #761D95;
    border-radius: 0 4.5vw 4.5vw 0;
    border: none;
    font-size: 7.5vw;
    width: 20%;
    height: 100%;
}

footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 12vh;
    background-color: #A128CC;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: black;
    font-size: 2.5em;;
}

.position-indicator {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #A128CC;
    border-radius: 50%;
}

.pos-news {
    left: 7.5%;
    top: -20%;
}

.pos-games {
    left: 33%;
    top: -20%;
}

.pos-friends {
    left: 59%;
    top: -20%;
}

.pos-chat {
    left: 83%;
    top: -20%;
}

.content {
    width: 95%;
    height: 63vh;
    overflow-y: scroll;
}

.content_no_header {
    width: 95%;
    height: 68vh;
    overflow-y: scroll;
}

.main_game_page {
    width: 100%;
    height: 88vh;
    overflow-y: scroll;
}

.content_game_page {
    width: 95%;
    height: 68vh;
    margin: auto;
}

.content_user_profile {
    width: 95%;
    height: 88vh;
    overflow-y: scroll;
}

.content_friend_message {
    width: 95%;
    min-height: 68vh;
    overflow-y: scroll;
}

.article_card_link, .game_card_link, .comment_card_link {
    text-decoration: none;
}

.card {
    color: black;
    background-color: #761D95;
    width: 100%;
    height: 12.5vh;
    text-align: left;
    margin: 2.5% 0;
    overflow: hidden;
}

.card h2 {
    font-size: 1em;
    margin: 0.5vh 1%;
}

.card p {
    font-size: 1em;
    margin: 0 1%;
}

.card div {
    flex: 5;
}

.card img {
    aspect-ratio: 1 / 1;
    width: 100%;
    border-radius: 50%;
    margin: 2.5% 1%;
    align-self: flex-start;
    flex: 2;
}

.card_buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fav-heart {
    color: black;
    text-decoration: none;
    font-size: 1.5em;
    margin: 0 2.5%;
}

.fav-heart-profile {
    color: red;
    text-decoration: none;
    font-size: 2em;
    margin: 0 2.5%;
}

.msg-bubble {
    color: black;
    text-decoration: none;
    font-size: 1.5em;
    margin: 0 2.5%;
}

.msg-bubble-profile {
    color: white;
    text-decoration: none;
    font-size: 2em;
    margin: 0 2.5%;
}

.game_favicon {
    color: red;
    text-decoration: none;
    font-size: 2em;
    margin-left: 75%;
}

.game_card, .game_card_link {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: unset;
    color: black;
}
.comment_card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: unset;
    min-height: 12.5vh;
}

.banner {
    height: 20vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.banner img {
    width: 100%;
    aspect-ratio: 100vw / 20vh;
}

.banner .game_icon {
    position: absolute;
    top: 25%;
    border-radius: 50%;
    width: 25%;
    aspect-ratio: 1 / 1;
}

.back-arrow {
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 50%;
    font-size: 12.5vmin;
    width: 15vmin;
    height: 15vmin;
    position: absolute;
    left: 0.5vw;
    top: 0.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 5;
}

.back-arrow i {
    display: flex;
    justify-content: center;
    align-items: center;
}

.article-content {
    background-color: #761D95;
    color: black;
    text-align: left;
    padding: 1vh 1vw;
}

.profile_page_image {
    width: 25%;
    border-radius: 50%;
    margin-top: 7.5%;
    aspect-ratio: 1 / 1;
}

.profile_page_game_icon {
    width: 15%;
    aspect-ratio: 1 / 1;
}

.other_profile_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.friend_message_profile_image {
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    width: 100%;
}

.user_message_bubble {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 90%;
}

.friend_message_bubble {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 90%;
}

.message_bubble p {
    background-color: #761D95;
    padding: 2.5%;
    text-align: center;
    border-radius: 1.5vw;
}

.message_bubble img {
    border-radius: 50%;
    margin-top: 1vh;
    width: 20%;
    aspect-ratio: 1 / 1;
    flex: none;
}

.profile_edit_image {
    width: 25%;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
}

.game_tag_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.game_tag {
    background-color: #761D95;
    color: black;
    padding: 2.5%;
    border-radius: 10vw;
}

.arrow-left {
    width: 0;
    height: 0;
    border-top: 2.5vw solid transparent;
    border-bottom: 2.5vw solid transparent;

    border-right: 2.5vw solid #761D95;
    margin-top: 3.5vh;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 2.5vw solid transparent;
    border-bottom: 2.5vw solid transparent;

    border-left: 2.5vw solid #761D95;

    margin-top: 3.5vh;
}