RewriteEngine On
RewriteBase /

RewriteRule classes/(.*)$ /index.php [L,NC,R=301]


RewriteRule include/(.*)$ /index.php [L,NC,R=301]


RewriteRule repositories/(.*)$ /index.php [L,NC,R=301]

RewriteRule scripts/(.*)$ /index.php [L,NC,R=301]

RewriteRule templates/(.*)$ /index.php [L,NC,R=301]